CalculatorService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="urn:JadeWebServices/CalculatorService/"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:s1="http://jadeworld.com/wsdl/types/"
   targetNamespace="urn:JadeWebServices/CalculatorService/"
   xmlns="http://schemas.xmlsoap.org/wsdl/"
>
	<types>
		<xsd:schema elementFormDefault="qualified" targetNamespace="urn:JadeWebServices/CalculatorService/">
			<xsd:element name="add">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="a" type="xsd:double" />
						<xsd:element name="b" type="xsd:double" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="addResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="addResult" type="xsd:double" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="divide">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="a" type="xsd:double" />
						<xsd:element name="b" type="xsd:double" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="divideResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="divideResult" type="xsd:double" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="multiply">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="a" type="xsd:double" />
						<xsd:element name="b" type="xsd:double" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="multiplyResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="multiplyResult" type="xsd:double" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="raiseSecurityTokenException">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="msg" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="raiseSecurityTokenExceptionResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="raiseSecurityTokenExceptionResult" type="xsd:anyType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="subtract">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="a" type="xsd:double" />
						<xsd:element name="b" type="xsd:double" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="subtractResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="subtractResult" type="xsd:double" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</types>
	<message name="addSoapIn">
		<part name="inputParameters" element="tns:add"/>
	</message>
	<message name="addSoapOut">
		<part name="return" element="tns:addResponse"/>
	</message>
	<message name="divideSoapIn">
		<part name="inputParameters" element="tns:divide"/>
	</message>
	<message name="divideSoapOut">
		<part name="return" element="tns:divideResponse"/>
	</message>
	<message name="multiplySoapIn">
		<part name="inputParameters" element="tns:multiply"/>
	</message>
	<message name="multiplySoapOut">
		<part name="return" element="tns:multiplyResponse"/>
	</message>
	<message name="raiseSecurityTokenExceptionSoapIn">
		<part name="inputParameters" element="tns:raiseSecurityTokenException"/>
	</message>
	<message name="raiseSecurityTokenExceptionSoapOut">
		<part name="return" element="tns:raiseSecurityTokenExceptionResponse"/>
	</message>
	<message name="subtractSoapIn">
		<part name="inputParameters" element="tns:subtract"/>
	</message>
	<message name="subtractSoapOut">
		<part name="return" element="tns:subtractResponse"/>
	</message>
	<portType name="JadeCalculatorSoap">
		<operation name="add">
			<input message="tns:addSoapIn" />
			<output message="tns:addSoapOut" />
		</operation>
		<operation name="divide">
			<input message="tns:divideSoapIn" />
			<output message="tns:divideSoapOut" />
		</operation>
		<operation name="multiply">
			<input message="tns:multiplySoapIn" />
			<output message="tns:multiplySoapOut" />
		</operation>
		<operation name="raiseSecurityTokenException">
			<input message="tns:raiseSecurityTokenExceptionSoapIn" />
			<output message="tns:raiseSecurityTokenExceptionSoapOut" />
		</operation>
		<operation name="subtract">
			<input message="tns:subtractSoapIn" />
			<output message="tns:subtractSoapOut" />
		</operation>
	</portType>
	<binding name="JadeCalculatorSoap" type="tns:JadeCalculatorSoap">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
		<operation name="add">
			<soap:operation soapAction="urn:JadeWebServices/CalculatorService/add" style="document"/>
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="divide">
			<soap:operation soapAction="urn:JadeWebServices/CalculatorService/divide" style="document"/>
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="multiply">
			<soap:operation soapAction="urn:JadeWebServices/CalculatorService/multiply" style="document"/>
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="raiseSecurityTokenException">
			<soap:operation soapAction="urn:JadeWebServices/CalculatorService/raiseSecurityTokenException" style="document"/>
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="subtract">
			<soap:operation soapAction="urn:JadeWebServices/CalculatorService/subtract" style="document"/>
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>
	<service name="JadeCalculator">
			<port name="JadeCalculatorSoap" binding="tns:JadeCalculatorSoap">
				<soap:address location="http://localhost/jade/jadehttp.dll?CalculatorServices&amp;serviceName=JadeCalculator&amp;listName=CalculatorService" />
			</port>
	</service>
</definitions>
